.login {
  height: calc(90vh - 70px);
  display: flex;
  justify-content: center;
}
.loginWrapper {
}
.form {
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 10px 21px -5px rgba(5, 7, 5, 0.75);
  -webkit-box-shadow: 0px 10px 21px -5px rgba(39, 44, 38, 0.75);
  -moz-box-shadow: 0px 10px 21px -5px rgba(32, 118, 19, 0.75);
  display: flex;
  flex-direction: column;
}
.loginTitle {
  text-align: center;
  font-size: 28px;
  color: rgb(76, 43, 226);
}
.loginset {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 250px;
}
.loginText {
  font-size: 18px;
  font-weight: 300;
}
.loginInput {
  height: 25px;
  outline: none;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid rgb(76, 43, 226);
}
.submitform {
  width: 70%;
  align-self: center;
  margin-top: 20px;
  height: 30px;
  font-weight: 700;
  border-radius: 15px;
  border: none;
  border: 1px solid rgb(76, 43, 226);
  cursor: pointer;
  box-shadow: 0px 4px 21px -10px rgba(5, 7, 5, 0.75);
}
@media only screen and (max-width: 480px) {
  .login {
    width: 100%;
    margin-top: 50px;
  }
  .form {
    width: 100%;
    padding: 10px;
  }
}
